.card {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: calc(50% - 20px);
  max-width: 300px;
}

p[class] {
  color: #000000;
  font-family: "SF-Pro-Display-Medium";
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% - 20px);
    max-width: none;
  }
}

@media screen and (max-width: 480px) {
  #root {
    flex-direction: column; /* Muda o layout para coluna quando a tela for menor que 480px */
    align-items: center; /* Alinha os itens no centro verticalmente */
  }
}
